
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="self-isolate" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-l">
        We're sorry to hear you've developed symptoms
      </h1>
<h2 class="govuk-heading-m">
      When did you first start experiencing symptoms? </h2>

  <form class="form" action="/symptoms" method="post">

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="symptoms-date-hint">
    <span id="symptoms-date-hint" class="govuk-hint">
      For example, 28 02 2020
    </span>
    <div class="govuk-date-input" id="symptoms-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="symptoms-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="symptoms-date-day" name="symptoms-date-day" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="symptoms-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="symptoms-date-month" name="symptoms-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="symptoms-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="symptoms-date-year" name="symptoms-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Which symptoms are you experiencing
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          A cough (with or without fever)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          A fever with no other symptoms
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Shortness of breath (difficulty breathing in children)
        </label>
      </div>
    </div>
  </fieldset>
</div>

<p class="govuk-body">These symptoms do not necessarily mean that you have the illness. The symptoms are similar to other illnesses that are much more common, such as cold and flu. However please do call 111 or visit NHS 111 online immediately if you are experiencing them.</p>

<p class="govuk-body">Please do not go to a GP surgery, pharmacy or hospital but contact NHS 111, stay indoors and avoid close contact with other people. In Northern Ireland, please call 0300 200 7885.</p>


  <button class="govuk-button" data-module="govuk-button">
  Continue
  </button>
</div>

</form>

{% endblock %}
