
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<form class="form" action="activities" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-l">
        Tell us about people you have been living with
      </h1>
<p class="govuk-body-m">Please can you provide details of the people that you have been living with for any day since the <strong>25th February</strong> (2 days before you first reported symptoms).</p>
<p class="govuk-body-m">It will be important that we are able to get in touch with all the people you are able to identify for us so that we can give them advice to keep themselves safe, know how and when to access testing and to avoid passing the infection onto others.</p>
<p class="govuk-body-m">Please enter the names even if they don't all have their own email addresses and phone numbers. If it is more appropriate for one member of the family e.g. parents of young children, to receive this information on behalf of other household members then please enter the email address and phone number for that person instead here.</p>

</div>
<div class="govuk-grid-column-full">
<table class="govuk-table">
  <caption class="govuk-table__caption">People you have lived with</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Forename</th>
      <th scope="col" class="govuk-table__header">Surname</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Phone</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Megan</td>
      <td class="govuk-table__cell">Rodger</td>
      <td class="govuk-table__cell">megan.rodger@phe.gov.uk</td>
      <td class="govuk-table__cell"></td>
      <td class="govuk-table__cell">  <a href="">
        edit
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><input class="govuk-input " id="address-line-2" name="address-line-2" type="text">
</td>
      <td class="govuk-table__cell"><input class="govuk-input" id="address-line-2" name="address-line-2" type="text"></td>
      <td class="govuk-table__cell"><input class="govuk-input" id="address-line-2" name="address-line-2" type="text"></td>
      <td class="govuk-table__cell"><input class="govuk-input" id="address-line-2" name="address-line-2" type="text"></td>
      <td class="govuk-table__cell">  <a href="tell-us-people-added" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Add
      </a></td>
    </tr>
  </tbody>
</table>

  <button class="govuk-button" data-module="govuk-button">
I've added everyone
  </button>

</div>

</form>

{% endblock %}
