
{% extends "layout.html" %}

{% block pageTitle %}
COVID-19 prototype
{% endblock %}

{% block content %}
<form class="form" action="statements" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        About you
      </h1>
    </legend>


    <div class="govuk-form-group">
      <label class="govuk-label" for="address-town">
      Forename
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-county">
      Surname
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
    </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Date of birth
      </h1>
    </legend>
    <span id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </span>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Email address
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="address-postcode">
        Phone number (preferably mobile)
      </label>
      <span id="changed-name-hint" class="govuk-hint">
   For example, 01632 960 001, 07700 900982 or (0044) 7700 900982
 </span>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
    </div>

  </fieldset>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Would you describe yourself as a healthcare worker?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          No, I don't work in healthcare
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Yes, I do work in healthcare
        </label>
      </div>
    </div>
  </fieldset>
</div>

  <button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </div>
</div>
</form>

{% endblock %}
