
{% extends "layout.html" %}

{% block pageTitle %}
  COVID-19 prototype
{% endblock %}

{% block content %}
<form class="form" action="welcome" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">PHE Coronavirus Contact Tracing and Advice Services</span>
      <h1 class="govuk-heading-xl">Welcome</h1>

      <p class="govuk-body-l">This website is part of PHE's public health efforts to control the spread of the virus, support our contact tracing and monitoring and also to provide you with relevant support and guidance.</p>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
                Sign in to your account
          </h1>
        </legend>


        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Your account ID
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Sign in
        </button>



      </fieldset>

      <h2 class="govuk-heading-m">
        Before you start</h2>
        <p class="govuk-body-m">
        The advice and contact tracing service has been set up at Public Health England to help control the spread of coronavirus (Covid-19). The information you provide will be used to give you advice on the steps you need to take if you have any symptoms of coronavirus and have been in contact with other people. An explanation of how your information will be used and protected is provided <a hef="">here</a>.</p>
        <h2 class="govuk-heading-m">
          Further guidance</h2>
          <p class="govuk-body-m">
          If you would like any further guidance or advice, please follow the links below:</p>
    </div>
</div>
</form>

{% endblock %}
