
{% extends "layout.html" %}

{% block pageTitle %}
COVID-19 prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">

        COIVID-19 Contact tracing prototype


      </h1>

      <h2 class="govuk-heading-s">This is a prototype to test the tools we are using to communicate with the public during the COVID-19 outbreak
</h2>
      <p class="govuk-body">
        This does not represent exactly what will be built and some parts of it may not work. Currently <a href="sign-in">testing v2</a> - updating content and design form changes from the inital V1 launch.
      </p>
      <p class="govuk-body">
        First time users start from <a href="sign-up">here</a>
      </p>

    </div>
</div>

{% endblock %}
