
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<form class="form" action="welcome" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
                Sign in to your account
          </h1>
        </legend>


        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Your account ID
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Password
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Sign in
        </button>

      </fieldset>
    </div>
</div>
</form>

{% endblock %}
