
{% extends "layout.html" %}

{% block pageTitle %}
COVID-19 prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Which of these statements best describes you?

      </h1>

      <form class="form" action="tested-positive/symptoms" method="post">

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="statements-1" name="statements" type="radio" value="positive">
          <label class="govuk-label govuk-radios__label" for="statements-1">
            I have received a positive test for COVID-19
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="statements-2" name="statements" type="radio" value="results">
          <label class="govuk-label govuk-radios__label" for="statements-2">
          I have developed symptoms, have been tested, and am awaiting results
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="statements-3" name="statements" type="radio" value="contact">
          <label class="govuk-label govuk-radios__label" for="statements-3">
            I have been identified as a contact of a confirmed case
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="statements-4" name="statements" type="radio" value="traveller">
          <label class="govuk-label govuk-radios__label" for="statements-4">
            I am a traveller returning from an affected area and remain well, but have been asked to self isolate
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </form>

</div>



{% endblock %}
