
{% extends "layout.html" %}

{% block pageTitle %}
COVID-19 prototype
{% endblock %}

{% block content %}
<form class="form" action="who-providing" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">COVID-19 Contact tracing tool</span>
      <h2 class="govuk-heading-xl">Welcome</h2>
      <p class="govuk-body">
        What it this
      </p>
      <p class="govuk-body">
        Why is this something that you should care about
      </p>
      <p class="govuk-body">
        How you will use it
      </p>
      <p class="govuk-body">
        If you are returning/first time information
      </p>

      <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>

<h2 class="govuk-heading-m">
  Before you start
  </h2>
  <p class="govuk-body">Anything that we  need to say</p>

    </div>
</div>
</form>

{% endblock %}
